<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <!-- New Targets can be created below information on creating new ones below: 
       name=<Whatever tag you want to give>
       xsi:type=<NLog Specific Type>
       layout=<The logging output style>
       fileName=<The location and name of the file output if xsi:type is equal to 'File' -->
  <targets>
    <!-- Console Logging -->
    <target name="console" xsi:type="Console" layout="[${date:format=MM/dd/yyyy hh\:mm\:ss\:ffff tt} ${logger:shortName=true}::${level}] - ${message}" />
    <!-- Detailed Logging to File -->
    <target xsi:type="File" name="fileOutGeneric" fileName="${basedir}/logs/General - ${shortdate}.log"
            layout="[${date:format=MM/dd/yyyy hh\:mm\:ss\:ffff tt} ${logger:shortName=true}::${level}] - ${message}" />
  </targets>

  <!-- Logging Levels (Lowest to Highest) [Trace, Debug, Info, Warn, Error, Fatal, Off] -->
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="fileOutGeneric" />
  </rules>
</nlog>